.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--gray);
    margin: 16px;
    overflow: hidden;
    /* minus 2x margin */
    height: calc(100% - 32px);
}

.title {
    margin: 0;
    padding: 16px;
    border-bottom: 1px solid var(--gray);
}

.content {
    padding: 16px;
    flex-grow: 1;
    overflow: auto;
}

.content > * {
    margin-bottom: 16px;
}

.controls {
    padding: 16px;
    border-top: 1px solid var(--gray);
    display: flex;
}

.title {
    margin: 0;
    padding: 16px;
    border-bottom: 1px solid var(--gray);
}

.edit {
    margin-left: auto;
}

.delete {
    margin-left: 8px;
}

.spinnerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
